# Compiled source #
###################
txt
bin
*.com
*.class
*.dll
*.exe
*.o
*.so

Practicas/Practicas1. Tecnicas Algoritmicas/ej1_subset_sum_backtracking.cpp

# Logs and databases #
######################
*.log
*.sql
*.sqlite